@media (max-width: 1546px) {
    .block-top-line__menu li {
        margin-right: 30px;
    }
}

@media (max-width: 1406px) {
    .block-top-line__menu li {
        margin-right: 20px;
    }
}

@media (max-width: 1401px) {
    .block-top-line__social-link {
        margin-right: 10px;
    }
}

@media (max-width: 1321px) {
    .social-wrapper a object {
        width: 21px;
    }
}

@media (max-width: 1306px) {
    .block-top-line__menu li {
        margin-right: 7px;
    }
    
    .letter-big__about-down {
        display: none;
    }
}

@media (max-width: 1230px) {
    .title-footer {
        margin-top: 17px;
        font-size: 26px;
    }
}

@media (max-width: 1199px) {
    .burger-wrapper {
        text-align: left;
    }
    
    .social-wrapper {
        text-align: right;
    }
    
    .block-slider__num-slide,
    .block-slider__scroll,
    .word-big,
    .wrapper-word-slider,
    .letter-big,
    .block-items-main-left-wrap__title:after,
    .block-items-main-left-wrap__text:before,
    .block-items-main-right-wrap__img:before,
    .block-items-main-left-wrap__link-num {
        display: none;
    }
    
    .item {
        height: auto;
    }
    
    .block-items-main-left-wrap {
        padding-top: 10px;
        padding-left: 0;
    }
    
    .block-items-main-left-wrap__title,
    .block-items-main-left-wrap__text {
        padding-left: 0;
    }
    
    .block-items-main-left-wrap__link-wrap {
        margin-left: 0;
    }
    
    .block-items-main {
        padding-top: 30px;
        padding-bottom: 50px;
    }
    
    .block-items-main__item {
        padding-bottom: 50px;
    }
    
    .block-receive__border {
        width: 172px;
        height: 172px;
    }
    
    .block-receive-wrap-item {
        width: 143px;
        height: 143px;
    }
    
    .block-receive-items-receive_right {
        margin-right: 65px;
    }
    
    .block-receive-items-receive_left {
        margin-left: 65px;
    }
    
    .block-receive-items__text {
        width: auto;
    }
    
    .block-download {
        padding: 10px 0;
    }
    
    .block-download-wrap {
        padding: 20px;
    }
    
    .block-items-main-left-wrap__title {
        font-size: 28px;
    }
    
    .block-download__pdf {
        padding-left: 0;
    }
    
    .copiright {
        padding-right: 0;
    }
    
    .title-footer {
        margin-top: 25px;
        font-size: 15px;
    }
    
    .social-wrapper-footer {
        padding-left: 0;
    }
    
    .block-top-line__social-link {
        margin-right: 5px;
    }
    
    .author-design {
        margin-top: 15px;
    }
    
    .burger-wrapper,
    .social-wrapper-about {
        text-align: left;
    }
    
    .block-top-line__menu {
        margin-top: 33px;
        text-align: right;
    }
    
    .inner-content-serv-left__img {
        margin-bottom: 20px;
    }
    
    .inner-content-serv-left__img {
        width: 100%;
    }
    
    .inner-content-contact {
        padding-top: 50px;
    }
    
    .block-items-main-right-wrap__img {
        margin-left: 0;
    }
    
    .block-top-line__menu_m {
        text-align: left;
    }
    
    .social-wrapper,
    .burger-wrapper {
        margin-top: 35px;
    }
    
    .block-top-line__menu li.block-top-line__menu_active-link {
        padding-bottom: 1px;
        border-bottom: 2px solid #bea67c;
    }
    
    .block-top-line__menu_m {
        margin-top: 70px;
    }
}

@media (max-width: 991px) {
    .block-receive__border {
        border: 0;
    }
    
    .block-items-main-right-wrap__img-about {
        margin-left: 0;
    }
    
    footer {
        height: auto;
        padding-bottom: 10px;
    }
    
    .copiright,
    .title-footer,
    .social-wrapper-footer,
    .author-design {
        margin-top: 10px;
        text-align: left;
    }
    
    .inner-content-serv-left__img {
        height: auto;
    }
}

@media (max-width: 767px) {
    .block-items-main-left-wrap__title {
        font-size: 26px;
    }
    
    .block-receive__border {
        width: 100%;
        height: auto;
    }
    
    .block-receive__sep-line {
        margin: 11px auto;
    }
    
    .block-items-main-right-wrap__img-about {
        width: auto;
    }
}

@media (max-width: 575px) {
    .copiright,
    .title-footer,
    .social-wrapper-footer,
    .author-design {
        text-align: center;
    }
    
    .title-footer {
        font-size: 20px;
    }
    
    .block-top-line__logo {
        align-items: center;
        margin-top: 3px;
    }
}